body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 100px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

main{
    height: 500;
}

footer{
    padding: 30px;
    height: 20px;
    color: white;
    background-color: black;
}